<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csust.hackathonserver.mapper.TracksMapper">

    <resultMap id="BaseResultMap" type="com.csust.hackathonserver.pojo.Tracks">
            <id property="id" column="id" />
            <result property="eventId" column="event_id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="sortOrder" column="sort_order" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,event_id,name,description,sort_order,created_at,
        updated_at
    </sql>
</mapper>
